body {
  width: 800px;
  margin: 0 auto;
}
.trs {
  width: 100px;
  height: 100px;
  background-color: green;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: width 3s;
}
.trs:hover {
  width: 200px;
  background-color: yellow;
}

.ani{
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 1px solid #ccc;
  background-color: yellow;
  animation-name: my;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: none;
}

@keyframes my {
  0% {top: 0; left: 0;}
  25% {top: 0; left: 200px;}
  50% {top: 200px; left: 200px;}
  75% {top: 200px; left: 0;}
  100% {top: 0; left: 0; background-color: #000;}
}

.transf {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: #ccc;
}
.transf-more {
  transform: skew(30deg, 20deg);
}
